.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #7ec27d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}

.Link {
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 15px;
    text-decoration: none;
}

.Link:hover {
    cursor: pointer;
    color: blanchedalmond;
}