.container {
    box-sizing: border-box;
    margin: 20px auto;
    padding: 10px;
}

.message {
    margin-bottom: 10px;
    border: 1px solid #575757;
    border-radius: 10px;
    padding: 0 50px;
    color: rgb(84, 84, 83);
    overflow: hidden;

}

.author {
    color: rgb(94, 110, 144);
    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
}
.time{
    display: inline-block;
    font-size: 10px;
    float: right;
}

.show {
    padding: 5px;
    border: 2px solid rgb(120, 237, 252);
    background-color: rgba(70, 187, 237, 0.9);
    color: #fff;
    border-radius: 20px;
    position: absolute;
    top: 412px;
    left: 581px;
    z-index: 200;
    font-size: 20px;
}
.hide{
    display: none;
}

.button{
    float: right;
}